body{
   margin: auto;
   width: 80%;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left-section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #aafcb8;
    align-items: center;
}

.right-section{
    flex-grow: 3;
    background-color: #D7FFF1;
}

.profile-picture-container{
    background-color: #D7FFF1;
    padding: 10px;
    border-radius: 50%;
}

.profile-picture{
    border-radius: 50%;
    width: 200px;
}

.p-info{
    line-height: 0px;
}

@media only screen and (max-width: 768px){
    body{
        width: 100%;
        margin: 0;
    }

    .container{
        flex-direction: column;
    }

    .left-section{
        flex-direction: row;
    }
}